name: C/C++ CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest ]

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: install-software-linux
      if: runner.os == 'Linux'
      run: sudo apt-get install autoconf automake autopoint gettext libusb-1.0-0-dev
    - name: install-software-macos
      if: runner.os == 'macOS'
      run: brew install autoconf automake libusb
    - name: autoreconf
      run: autoreconf -vis .
    - name: configure
      run: ./configure
    - name: make
      run: make
    - name: make check
      run: make check VERBOSE=y
    - name: make distcheck
      run: make distcheck

  windows-build:
    runs-on: windows-latest

    # See https://github.com/msys2/setup-msys2

    strategy:
      # fail-fast: false
      matrix:
        include:
          - { sys: mingw32, env: i686 }
          - { sys: mingw64, env: x86_64 }
          # - { sys: ucrt64,  env: ucrt-x86_64 }  # Experimental!
          # - { sys: clang64, env: clang-x86_64 } # Experimental!

    name: ${{ matrix.sys }} build

    env:
      MINGW_ARCH: ${{ matrix.sys }}

    defaults:
      run:
        shell: msys2 {0}

    steps:
      - name: 'cmd shell environment info'
        shell: cmd
        run: |
          path
          echo %PATH%
          set

      - name: 'git config'
        run:  git config --global core.autocrlf input
        shell: bash

      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: '${{ matrix.sys }} Setup MSYS2'
        uses: msys2/setup-msys2@v2
        with:
          msystem: ${{ matrix.sys }}
          update: true
          install: >-
            git
            tree
            autoconf
            automake
            diffutils
            libtool
            make
            patchutils
            pkgconf
            mingw-w64-${{ matrix.env }}-gcc
            mingw-w64-${{ matrix.env }}-libusb

      - name: '${{ matrix.sys }} environment info'
        run: |
          echo "PATH=$PATH"
          which bash
          which make

      - name: '${{ matrix.sys }} autoreconf'
        run: autoreconf -vis .

      - name: '${{ matrix.sys }} configure'
        run: echo "MINGW_ARCH=$MINGW_ARCH"; ./configure

      - name: '${{ matrix.sys }} make'
        run: make

      - name: '${{ matrix.sys }} make check'
        run: make check VERBOSE=y

      - name: '${{ matrix.sys }} make distcheck'
        run: make distcheck

      - name: '${{ matrix.sys }} dist tarball content'
        run: |
          mkdir tmp
          cd tmp
          tar -xf ../*.tar.*
          tree .
